{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/customers"
    },
    "cloudant": {
      "db": "https://thstregstsimestenearriso:eyy3LA1RjT36SNGDbsHeoEtl@joshdavid1.cloudant.com/customer_data"
    }
  }
}
