/*
Author: Josh Wilcox
Class: ASD with Doug Arley (March '13)
Week: Project 2
Topic: converting from VFW CRUD to jQuery and JQM.
*/
header {
	/* Header styling on home page goes here */
}

p {
	/* title above nav goes here */
}

nav ul {
	/* Navigation styling for home page buttons goes here */
}